body {
    margin: 0;
    font-family: 'Open Sauce One', sans-serif;
    font-family: 'Open Sauce Two', sans-serif;
    font-family: 'Open Sauce Sans', sans-serif;
    background-color: #f0be00;
    color: rgb(0, 0, 0);
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    /* height: 75vh; */
}
.logo img{
    max-width:400px;
    padding: 30px;
    
}

.content h3{
    font-size:2.8rem;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
    
}

p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.highlight {
    font-weight: bold;
    font-style: italic;
}

.buttons {
    display: flex;
    
    
    gap: 15px;
    margin: 20px 0;
}





.call {
    background-color: #FF6F00;
    color: white;
}

.address {
    font-size: 1.2rem;
}
.image  {
    max-height: 800px;
}
.image img {
    max-height: 800px;
}

.submenu {
   
    background-color: #bd7018;
    padding: 20px;
    text-align: center;
}
.submenu p {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.sub-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1rem;
    align-content: center;
    align-items: center;
}
.sub-content div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 75px;
    
}
.products {
    text-align: center;
    padding: 30px;
    
}

h2 {
    font-weight: 900;
    font-size: 2rem;
    color:  #d33100 ;
}

p {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.product-grid h3, .product-grid p {
    color: black;
}
.product-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.product-card img {
    max-width: 100%;
    height: auto;
}

h3 {
    font-weight: 900;
    font-size: 2rem;
    margin: 15px 0;
}



.whatsapp, .call {
    text-decoration: none;
    padding: 12px;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

.whatsapp {
    background-color: #18b452;
    color: white;
}


.revenda {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #ffffff;
}

.revenda-container {
    display: flex;
    max-width: 1200px;
    align-items: center;
    
}

.revenda-img img {
    max-width: 100%;
    height: auto;
}

.revenda-texto {
    display: flex;
    max-width: 500px;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.revenda-texto p{
    color: black;
    
}

.revenda-destaque {
    color: #F58634;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
}



.whatsapp-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.footer{
    max-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-img img{
    padding-top: 20px;
    max-width: 250px;
}
.footer p{
    text-align: center;
}
@media screen and (max-width: 750px) {
    .image{
        display: flex;
        justify-content: center;
    }
    .image img {
        max-width: 45%;
        
    }
    .buttons{
        justify-content: center;
    }
    .container{
        flex-direction: column;
        
    }
    .content{
        text-align: center;
        /* max-width: 100%; */
        
    }
    h1 {
        font-weight: 900;
        font-size: 2.8rem;
        font-weight: bold;
    }
    
    p {
        font-size: 1.3rem;
        margin-bottom: 15px;
    }
    .buttons{
        flex-direction: column;
    }
    .revenda-container {
        flex-direction: column;
    }
    .logo img{
        max-width: 85%;
        padding-bottom: 30px;
        padding-top: 30px;
    }
}

@media screen and (max-width: 450px) {
    .product-grid {
        display: flex;
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }
    .revenda-img{
        max-width: 80%;
    }
   
}